<h2>配送先登録 / 一覧</h2>
<%= form_with model: @shipping do |f| %>
  <table>
    <tbody>
    <tr>
      <td>郵便番号（ハイフンなし）</td>
      <td>
        <%= f.text_field :postal_code, placeholder: "2110001" %>
      </td>
    </tr>
    <tr>
      <td>住所</td>
      <td>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
      </td>
    </tr>
    <tr>
      <td>宛名</td>
      <td>
        <%= f.text_field :name, placeholder: "平成太郎" %>
      </td>
      <tr>
        <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
      </tr>
    </tr>

    </tbody>
  </table>
<% end %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shippings.each do |shipping| %>
      <tr>
          <td><%= shipping.postal_code %></td>
          <td><%= shipping.name %></td>
          <td><%= shipping.address %></td>
          <td>
            <%= link_to "編集する", edit_shipping_path(shipping), class: "btn btn-success" %><%= link_to "削除する", shipping_path(shipping), method: :delete, class: "btn btn-danger", data: { confirm: "削除しますか？" } %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>


