<div class="container">
   <div class="row">
     <h4 class="mt-4 bg-light">商品詳細</h4>
   </div>

   <div class="row mt-5">
      <div class="col-4">
        <%= image_tag @food.get_food_image, size: "200x200" %>
      </div>
      <div class="col-6 offset-1">
        <table class="table table-borderless">
          <tbody>
             <tr>
                <td><%= @food.name %></td>
             </tr>
             <tr>
                <td><%= @food.introduction %></td>
             </tr>
             <tr>
                <td><%= @food.tax_in_price %> </td>
             </tr>
             <tr>
               <td>
                  <%= form_with model: @cart_item do |f| %>
                    <%= f.hidden_field :food_id, :value => @food.id %>
                    <%= f.select :amount, *[1..10], prompt: "個数選択" %>
                    <%= f.submit "カートに入れる", class: "btn btn-success" %>
                  <% end %>
               </td>
             </tr>
            </tbody>
          </table>
          <div class="text-center col-7">
          </div>
        </div>
      </div>
    </div>
</div>